# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件

import pandas as pd
import numpy as np

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [3]:
df.groupby('animal').mean('age')

        age  visits
animal
cat     2.5     2.0
dog     5.0     2.0
snake   2.5     1.5

In [5]:
df.sort_values(by='age').sort_values(by='visits',ascending=False)

  animal  age  visits priority
f    cat  2.0       3       no
b    cat  3.0       3      yes
d    dog  NaN       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
h    cat  NaN       1      yes

In [7]:
df.replace(['yes','no'],[True, False])

  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [8]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.154036  0.624754  0.833310
1  0.247096  0.531109  0.274492
2  0.930369  0.434847  0.597513
3  0.252121  0.477202  0.531224
4  0.302479  0.370026  0.879509

In [12]:
df.mean(axis=0)

0    0.377220
1    0.487588
2    0.623210
dtype: float64

In [13]:
df.mean(axis=1)

0    0.537367
1    0.350899
2    0.654243
3    0.420183
4    0.517338
dtype: float64

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [18]:
print(df.sum(axis=1))
df.sum(axis=1).argmin()

0    1.612100
1    1.052698
2    1.962729
3    1.260548
4    1.552014
dtype: float64

1

In [19]:
print(df.sum(axis=0))
df.sum(axis=0).argmin()

0    1.886100
1    2.437939
2    3.116049
dtype: float64

0